body {
  background-color: #eee;
}
.cart span {
  margin: 0 10px;
}

.cartBadge {
  top: -10px;
  right: -30px;
}

.title {
  min-height: 60px;

  font-weight: bolder;
}
.product {
  border: 2px solid #000;
  border-radius: 5px;
}
.price {
  color: rgb(255, 145, 0);
  text-decoration: underline;
}
.rating {
  color: green;
  font-weight: bold;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}
.nav-item a.active {
  color: rgb(255, 145, 0) !important ;
}
.nav-item .cart-link {
  position: relative;
}
.nav-item .cart-link i {
  font-size: 20px;
}
.cart-link .badge {
  position: absolute;
  top: -5px;
  right: -7px;
}

.total {
  color: #f1ff39;
}

.total .price {
  color: #6cff00;
}

/* HTML: <div class="loader"></div> */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 40px;
  height: 20px;
  background: orange;
  position: relative;
  animation: l9-0 1.5s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  background: inherit;
  bottom: 100%;
  width: 50%;
  height: 100%;
  animation: inherit;
  animation-name: l9-1;
}
.loader:before {
  left: 0;
  transform-origin: bottom left;
  --s: -1;
}
.loader:after {
  right: 0;
  transform-origin: bottom right;
}
@keyframes l9-0 {
  0%,
  10% {
    transform: translateY(0%) scaleY(1);
  }
  49.99% {
    transform: translateY(-50%) scaleY(1);
  }
  50% {
    transform: translateY(-50%) scaleY(-1);
  }
  90%,
  100% {
    transform: translateY(-100%) scaleY(-1);
  }
}
@keyframes l9-1 {
  10%,
  90% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(calc(var(--s, 1) * 180deg));
  }
}
